* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* border: 2px dashed red; */
}

body {
  background-color: lightgray;
}

h1, h3 {
  color: #475dbb;
  text-transform: uppercase;
}

li {
  margin-bottom: 8px;
}

ul {
  list-style: none;
  display: inline;
}

.recipe-card {
  width: 600px;
  text-align: center;
  border: 2px solid black;
  margin: 24px auto;
  padding: 24px;
  background-color: rgb(127, 142, 156);
}

.recipe-img {
  border: 2px solid black;
}